<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
    </head>
    <body>
        <h1>Admin</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Users</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_details %}
                    <tr>
                        <td> {{ user.email }} </td> 
                        <td> {{ user.isAdmin }} </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table border="1">
            <thead>
                <tr>
                    <th>Requests (total: {{ total_requests }})</th>
                </tr>
            </thead>
            <tbody>
                {% for line in all_lines %}
                    <tr>
                        <td> {{ line }} </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Home</a>
    </body>
</html>