<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form method="post">

            <h1>Welcome! 👋🏻</h1>
            <p>Please sign-in to your account to get started</p>

            {{ form.hidden_tag() }}
            <div>
                <label for="email">Email</label>
                {{ form.email() }}
            </div>
            <div>
                <label for="password">Password</label>
                {{ form.password() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
            <p class="register">New on our platform? <a href="/register" style="color: rgb(105,108,255); text-decoration: none;">Create an account</span></p>
        </form>
    </body>
</html>