<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <form method="post">

        <h1>Register</h1>

        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div>
            {{ form.confirmPassword.label }} {{ form.confirmPassword() }}
        </div>
        <p class="error">{{ error }}</p>
        <div>
            {{ form.submit() }}
        </div>
        <p class="login">Already have an account? <a href="/login" style="color: rgb(105,108,255); text-decoration: none;">Login</span></p>
    </form>
    </body>
</html>