<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
    <body>
        <form class="card">

            <h1>Select a team</h1>

            <div>
                <label for="team">Team Name</label>
                <select id="team" name="team" onchange="filterYears()">
                {% for team in teams %}
                    <option 
                    {% if prevTeam == team %}
                    selected
                    {% endif %} 
                    value="{{ team }}">{{ team }}</option>
                {% endfor %}
                </select>
            </div>
            <div>
                <label for="year">Year</label>
                <select id="year" name="year">
                </select>
            </div>
            <div>
                <input type="submit" value="Search">
            </div>
            <div>
                <a href="/admin">Admin</a>
            </div>

            <script>

                const team_yers_dict = JSON.parse('{{ team_years_dict|tojson|safe }}');

                function filterYears() {
                    const selectedTeam = document.getElementById('team').value;
                    const yearSelect = document.getElementById('year');

                    // Clear existing options
                    yearSelect.innerHTML = '';

                    // Check if team_years_dict exists
                    if (team_yers_dict) {
                        const availableYears = team_yers_dict[selectedTeam] || [];

                        // Add options for available years for the selected team
                        availableYears.forEach(year => {
                        const option = document.createElement('option');
                        option.value = year;
                        option.innerText = year;
                        option.selected = '{{ prevYear }}' == year;
                        yearSelect.appendChild(option);
                        });
                    }
                }

                // Call filterYears on initial page load to populate years for the first selected team
                filterYears();
            </script>
        </form>
    </body>
</html>